.container {
	margin: 0 ;
	padding: 0 20px 20px 20px;
	width: 960px;
}

.aside-left {
    float: left;
    width: 450px;
}

.aside-right {
  float: right;
  width: 450px;
  margin: 0px 0px 0px 10px ;

  font-size: 14px;
}

section {
  float: left;
}

body {
	padding: 0 20px 20px 20px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}