
.background-image {
  background: #ff4d4d url("images/red.png") 20px 50% no-repeat;
  border: 2px solid #b30000;
  border-radius: 5px;
  color: #fff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 15px 20px 15px 50px;
}