<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Reporte Sanidad</title>

		{% load static %}
		<link rel="stylesheet" type="text/css" href="{% static 'early/style.css' %}" />
		
	</head>
	<body>

		<h1>INFORME DE ESTADO DE SALUD PLATAFORMA</h1>

		<section class="container">

			<h1>{{ country_text }}</h1>

			{% if group_list %}

				<select size="1" name="links" onchange="window.location.href=this.value;">

					<option selected disabled>ESCOJA UNA OPCION</option>

					{% for view in group_list %}
						<option value="{% url 'early:view' view.groupname %}">{{ view.groupname }}</option>
					{% endfor %}
				</select>
				<br>
				<br>

			{% endif %}

			<a href="{% url 'early:index' %}">Revisar otra vista ?</a>

		</section>

	</body>
</html>