<h1>{{ view.view_text }}</h1>

{% block content %}
{% load poll_extras %}
{% if some_thing %}<p><strong>{{ some_thing }}</strong></p>{% endif %}
<ul>
{% for host in hosts %}
    <li><strong>{{ host }}</strong></li>
		<p>
			{{ cpus|lookup:forloop.counter0 }}<br>
			{{ disks|lookup:forloop.counter0 }}<br>
			{{ memories|lookup:forloop.counter0 }}
		</p>
		{% for alert in alerts|lookup:forloop.counter0 %}
			<p>
				{{ alert }}
			</p>

		{% endfor %}
{% endfor %}
</ul>
{% endblock %}

<a href="{% url 'early:index' %}">Revisar otra vista ?</a>