{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'early/style.css' %}" />


<h1 style="color: {{ group.color }};margin-left: 1em;">{{ view.view_text }}</h1>

{% block content %}
{% load poll_extras %}

<ul>
{% for host in hosts %}
    <li><strong><font color={{ host.color }}>{{ host.hostname }}</font></strong></li>
		<p>
			{{ host.cpu }}<br>
			{{ host.disk }}<br>
			{{ host.memory }}
		</p>

	{% if host.alerts %}

		<table border="1" alerts="Alertas">
			<tr><th>ALERTAS</th>
				{% for alert in host.alerts %}
					<tr><td style="font-size:10px;">{{ alert }}</td></tr>
				{% endfor %}
		</table>

		<br>

	{% endif %}


{% endfor %}
</ul>
{% endblock %}

<a href="{% url 'early:index' %}">Revisar otra vista ?</a>