<h1>{{ view.view_text }}</h1>

{% block content %}
{% load poll_extras %}

<ul>
{% for host in hosts %}
    <li><strong><font color={{ colors|lookup:forloop.counter0 }}>{{ host }}</font></strong></li>
		<p>
			{{ cpus|lookup:forloop.counter0 }}<br>
			{{ disks|lookup:forloop.counter0 }}<br>
			{{ memories|lookup:forloop.counter0 }}
		</p>

	{% if alerts|lookup:forloop.counter0 %}

		<table alerts="Alertas">
			<tr><th>ALERTAS</th>
				{% for alert in alerts|lookup:forloop.counter0 %}
					<tr><td style="font-size:10px;">{{ alert }}</td></tr>
				{% endfor %}
		</table>

		<br>

	{% endif %}


{% endfor %}
</ul>
{% endblock %}

<a href="{% url 'early:index' %}">Revisar otra vista ?</a>